<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>Slackbots Talk : l'appli qui fait parler les Slack Bots</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/slackbots-talk.css">
</head>

<body data-ng-app="app">

    <div class="container-fluid bandeau">
        <div class="row">
            <div class="titre col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Slackbots Talk<br/>
					<small>L'appli qui fait parler</small>
				</h1>
            </div>
        </div>
    </div>
    <div class="container">
      
		<div class="row" ng-controller="TalkCtrl">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 bloc-inputs">	
				<form ng-submit="posterMessage()" class="form-horizontal" autocomplete="on">
				 <div class="form-group">
					<label for="token" class="col-lg-3 control-label">API token</label>
					<div class="col-lg-9">
						<input class="form-control" id="token" name="token" placeholder="Exemple : xoxb-1234567890-VjlWXYZZabcdL0CeozQ3Lxa99" ng-model="token"/>
					</div>
				 </div>
				 <div class="form-group">
					<label for="channel" class="col-lg-3 control-label">Nom du salon</label>
					<div class="col-lg-9">
						<input class="form-control" id="channel" name="channel" placeholder="Exemple : #general" ng-model="channel"/>
					</div>
				 </div>
				 <div class="form-group">
					<label for="username" class="col-lg-3 control-label">Pseudonyme du bot</label>
					<div class="col-lg-9">
						<input class="form-control" id="username" name="username" placeholder="Exemple : George Abitbol" ng-model="username"/>
					</div>	
				 </div>
				 <div class="form-group">
					<label for="icon_url" class="col-lg-3 control-label">URL de l'image du bot</label>
					<div class="col-lg-9">
						<input class="form-control" id="icon_url" name="icon_url" placeholder="URL de l'image de l'avatar du bot" ng-model="iconUrl" />
					</div>	
				 </div>
				 <div class="form-group">
					<label for="text" class="col-lg-3 control-label">Message</label>
					<div class="col-lg-9">
						<textarea class="form-control" id="text" name="text" placeholder="Tapez ici le message à envoyer..." ng-model="text"></textarea>
					</div>	
				 </div>				 
				  <div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
					  <button type="submit" class="btn btn-default">Envoyer</button>
					</div>			
				</form>

			</div>
		</div>		

        <div class="row">
            <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

            </div>
        </div>

    </div>
    <!-- container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>

    <script src="js/app.js" type="application/javascript"></script>
    <script src="js/talkController.js" type="application/javascript"></script>
    <script src="js/talkService.js" type="application/javascript"></script>
   
</body>

</html>
